/* colors*/
:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-100: hsl(246, 25%, 77%);
  --neutral-400: hsl(249, 10%, 26%);
  font-size: 16px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/bg-intro-desktop.png") center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(var(--primary-red)), to(var(--primary-red)));
  background: url("../images/bg-intro-desktop.png") center/cover no-repeat, linear-gradient(var(--primary-red), var(--primary-red));
}

main {
  display: -ms-grid;
  display: grid;
  padding: 50px 12% 0;
  min-height: 100vh;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  font-family: "Poppins";
  color: #fff;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  height: 100%;
}

.intro__heading {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  line-height: 1.2;
  font-size: 2.5rem;
}

.intro__todos {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.todo {
  padding: 20px;
  width: 100%;
  background-color: var(--accent-blue);
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.todo__button {
  border: none;
  margin-top: 4px;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  color: #fff;
}

.todo__delete {
  background-color: var(--primary-red);
}

.todo__edit {
  background-color: var(--primary-green);
}

.todo__button:active {
  background-color: var(--neutral-100);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.signup {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}

.signup__card {
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.signup__button {
  width: 100%;
  background-color: var(--primary-green);
  border-radius: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  margin-top: 10px;
  border-bottom: 3px solid var(--primary-green);
}

.signup__button:hover {
  cursor: pointer;
  background-color: rgba(56, 204, 140, 0.8);
}

.input-group {
  display: -ms-grid;
  display: grid;
  gap: 2px;
  padding: 8px;
}

.input-group input {
  height: 50px;
  padding: 20px;
  border: 1px solid var(--neutral-100);
  border-radius: 5px;
  font-size: 0.9rem;
}

.input-group input::-webkit-input-placeholder {
  color: var(--neutral-100);
  font-weight: 600;
}

.input-group input:-ms-input-placeholder {
  color: var(--neutral-100);
  font-weight: 600;
}

.input-group input::-ms-input-placeholder {
  color: var(--neutral-100);
  font-weight: 600;
}

.input-group input::placeholder {
  color: var(--neutral-100);
  font-weight: 600;
}

.input-group input:focus {
  border: 1px solid var(--accent-blue);
  border-bottom: 2px solid var(--neutral-100);
  outline: none;
}

.input-group__help {
  display: none;
  color: #ff7a7a;
  font-size: 0.7rem;
  font-weight: 600;
  font-style: italic;
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.input-group__help:before {
  content: " ";
  background: url("../images/icon-error.svg") center/contain no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: -35px;
}

.card__footnote {
  color: var(--neutral-100);
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

.card__footnote span {
  color: var(--primary-red);
  font-weight: 700;
}

.invalid .input-group__help {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.invalid input {
  border: 1px solid var(--primary-red);
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  body {
    background: url("../images/bg-intro-mobile.png") center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(var(--primary-red)), to(var(--primary-red)));
    background: url("../images/bg-intro-mobile.png") center/cover no-repeat, linear-gradient(var(--primary-red), var(--primary-red));
  }
  main {
    margin: 0 5%;
    min-height: auto;
    padding: 80px 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 80px;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__heading {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    width: 100%;
  }
  .signup {
    max-width: 500px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .signup__heading {
    padding: 15px 20%;
  }
  .signup__heading, .signup__card {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */